* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 200;
  border-radius: 5px;
  border-color: transparent;
  padding: 20px 60px;
  display: flex;
  transition: 250ms;
  opacity: 0.7;
  cursor: pointer;
}

.btn[disabled] {
  color: #696969;
}

.btn[disabled]:hover {
  color: #696969;
  border-color: transparent;
  cursor: auto;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn:hover {
  color: #696969;
  border-color: aqua;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  width: 400px;
  min-width: 400px;
  background-color: #121212;
  font-family: 'LCDNova';
  color: red;
  border-radius: 5px;
  border: 7px solid #ccc;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-shrink: 0;
  min-width: 80px;
  font-size: 12px;
}

.value {
  font-size: 52px;
  font-weight: 400;
}
.label {
  font-size: 17;
}

.sep {
  position: relative;
  top: -16px;
  font-size: 60px;
  font-weight: 400;
}

.hidden {
  opacity: 0.2;
}
